In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [4]:
df=pd.read_csv("./forestfires.csv")  # dataframe
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

# I want to know how many columns and rows are there in the dataset

In [7]:
df.shape

(517, 13)

# Types of Datatypes present in Dataset

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   month   517 non-null    object
 3   day     517 non-null    object
 4   FFMC    517 non-null    float64
 5   DMC     517 non-null    float64
 6   DC      517 non-null    float64
 7   ISI     517 non-null    float64
 8   temp    517 non-null    float64
 9   RH      517 non-null    int64
 10  wind    517 non-null    float64
 11  rain    517 non-null    float64
 12  area    517 non-null    float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB

# Measures of Central tendency:

            Mean
            Median 
            Mode

In [9]:
df.mean()

X         4.669246
Y         4.299807
FFMC     90.644681
DMC     110.872340
DC      547.940039
ISI       9.021663
temp     18.889168
RH       44.288201
wind      4.017602
rain      0.021663
area     12.847292
dtype: float64

In [10]:
df.median()

X         4.00
Y         4.00
FFMC     91.60
DMC     108.30
DC      664.20
ISI       8.40
temp     19.30
RH       42.00
wind      4.00
rain      0.00
area      0.52
dtype: float64

In [11]:
df.mode()

     X    Y month  day  FFMC   DMC     DC  ISI  temp    RH  wind  rain  area
0  4.0  4.0   aug  sun  91.6  99.0  745.3  9.6  17.4  27.0   2.2   0.0   0.0
1  NaN  NaN   NaN  NaN  92.1   NaN    NaN  NaN  19.6   NaN   3.1   NaN   NaN

In [5]:
from statistics import mean 
from scipy import stats

#    Measures of Dispersion:
Determined by the standard deviation, and the variance. They help us identify how dispersed our data is. First of all, the standard deviation gives us how our data is far away from the mean value. Then the variance is the squared value of the standard deviation.

In [12]:
df.std()

X         2.313778
Y         1.229900
FFMC      5.520111
DMC      64.046482
DC      248.066192
ISI       4.559477
temp      5.806625
RH       16.317469
wind      1.791653
rain      0.295959
area     63.655818
dtype: float64

In [13]:
df.var()

X           5.353568
Y           1.512655
FFMC       30.471624
DMC      4101.951889
DC      61536.835467
ISI        20.788832
temp       33.716898
RH        266.259802
wind        3.210019
rain        0.087592
area     4052.063225
dtype: float64

In [25]:
# Range =max-min
x=df.max()
y=df.min()

#range = max-min 
# Note object/string type data we cannot find the range

# in this case you have to drop the string columns

In [ ]:
Skewness and Kurtosis

In [26]:
df.skew()

X        0.036246
Y        0.417296
FFMC    -6.575606
DMC      0.547498
DC      -1.100445
ISI      2.536325
temp    -0.331172
RH       0.862904
wind     0.571001
rain    19.816344
area    12.846934
dtype: float64

In [28]:
df.kurtosis()

X        -1.172331
Y         1.420553
FFMC     67.066041
DMC       0.204822
DC       -0.245244
ISI      21.458037
temp      0.136166
RH        0.438183
wind      0.054324
rain    421.295964
area    194.140721
dtype: float64